body {
  background-color: #fcfcfc; /* 흰색 배경 */
  color: #012d5e; /* 기본 텍스트 색상 */
}

.forgotPasswordContainer {
  width: 100%;
  max-width: 400px;
  margin: auto;
  text-align: center;
}

.logoContainer {
  height: fit-content;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.HyundaiLogo {
  max-width: 120px;
  margin-top: 60px;
  margin-bottom: 10px;
}

/* 입력 그룹 스타일 */
.pwInputGroup {
  margin-bottom: 16px;
  width: 80%;
  margin: auto;
  margin-bottom: 40px;
}

.pwInputGroup label {
  display: flex;
  font-weight: 500;
  margin-bottom: 16px;
}

.pwInputGroup input {
  font-family: 'Hyundai Sans';
  padding: 10px;
  border: none;
  box-shadow: 0px 0px 3px #686868;
  border-radius: 4px;
  width: 93%;
}

/* 에러 상태 입력 필드 (specificity 증가) */
.pwInputGroup input.errorInput {
  border: 2px solid #E63312;
  box-shadow: 0px 0px 5px #E63312;
}

/* 버튼 스타일 */
.sendButton {
  width: calc(100% - 120px);
  padding: 10px;
  margin-top: 10px;
  background-color: #012d5e;
  color: #fcfcfc;
  font-weight: 500;
  font-size: 16px;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 0px 3px #012d5e70;
}

.confirmButton {
  width: 24%;
  padding-top: 10px;
  padding-bottom: 8px;
  margin-top: 13px;
  background-color: #fcfcfc;
  color: #012d5e;
  font-size: 16px;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 0px 3px #686868;
}

.modalCloseButton {
  width: 24%;
  padding: 5px;
  margin-top: 13px;
  background-color: #fcfcfc;
  color: #012d5e;
  font-weight: 500;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 0px 3px #686868;
}

.sendButton:hover {
  color: #fcfcfc60;
  background-color: #012D5E90; /* 호버 효과 */
  transform: scale(1.01);
}

.confirmButton:hover,
.modalCloseButton:hover {
  color: #012D5E60;
  background-color: #86868620; /* 호버 효과 */
  transform: scale(1.01);
}

.confirmButton:active,
.sendButton:active,
.modalCloseButton:active {
  transform: scale(0.95); /* 클릭 효과 */
}

/* 성공 메시지 */
.successMessage {
  color: #012D5E;
  margin-bottom: 40px;
}

/* 에러 메시지 */
.errorMessage {
  color: #E63312;
  margin-bottom: 40px;
}

.confirmErrorMessage {
  color: #E63312;
  margin: -10px 0 10px;
}

.modalOverlay {
  position: absolute;
  top: 0;
  left: center;
  width: 100%;
  height: 100%;
  background-color: #86868640;
}

.modalContent {
  position: relative;
  top: 40%;
  left: 20%;
  width: 60%;
  height: 18%;
  border-radius: 12px;
  box-shadow: 0px 0px 10px #00000025;
  background-color: #fcfcfc;
  padding: 3px 0;
}

.modalContent img {
  margin-top: 16px;
  margin-bottom: 4px;
  height: 24%;
}

/* copyright 텍스트 스타일 */
.copyrightText {
  position: fixed;
  margin: auto;
  margin-left: 84px;
  top: 740px;
  font-size: 12px;
}

input:focus, textarea:focus {
  outline: none;
  transform: scale(1.02);
  background: #fcfcfc;
  border: 2px solid #012D5E;
  box-shadow: 0px 0px 5px #012d5e80; /* 그림자 효과 */
}