.mapContainer {
  width: 100%;
  height: 100vh; /* 전체 화면 높이 */
  display: flex;
  justify-content: center;
  align-items: center;
}

.backgroundImage {
  background-color: #fcfcfc;
}

.mapImage {
  position: absolute;
  top: -28px;
  left: 0;
  width: 100%;
  height: 100%;
}